:root {

    @media (prefers-color-scheme: dark) {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --header-text-color: #bb86fc;
        --footer-bg-color: #1f1f1f;
        --important-text-color: #c81717;
        --btn-color: #1611a1;
    }

    @media (prefers-color-scheme: light) {
        --bg-color: #b7b7b7;
        --text-color: #000000;
        --header-text-color: #6200ee;
        --footer-bg-color: #828282;
        --important-text-color: #2962ff;
        --btn-color: #536fc3;
    }
}
