:root {
    @media (prefers-color-scheme: dark) {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --header-text-color: #8a4bd6;
        --footer-bg-color: #001e35;
        --important-text-color: #c81717;
        --btn-color: #1611a1;
        --link-color: #ff5656;
        --unimportant-text-color: #888888;
        --neutral-color: #636363;
        --intense-neutral-color: #3f3f3f;
    }

    @media (prefers-color-scheme: light) {
        --bg-color: #d3d3d3;
        --text-color: #000000;
        --header-text-color: #5303c3;
        --footer-bg-color: #63dab8;
        --important-text-color: #2962ff;
        --btn-color: #89ceff;
        --link-color: #000000;
        --unimportant-text-color: #888888;
        --neutral-color: #888888;
        --intense-neutral-color: #6c6c6c;
        --light-text-color: #ffffff;
    }

    --footer-first-stop: 0%;
    --footer-second-stop: 80%;
    --footer-third-stop: 100%;

    scroll-behavior: smooth;

    .no-display {
        display: none;
    }
}
