:root {
    @media (prefers-color-scheme: dark) {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --header-text-color: #bb86fc;
        --footer-bg-color: #001e35;
        --important-text-color: #c81717;
        --btn-color: #1611a1;
        --link-color: #ff5656;
        --unimportant-text-color: #888888;
    }

    @media (prefers-color-scheme: light) {
        --bg-color: #d3d3d3;
        --text-color: #000000;
        --header-text-color: #5303c3;
        --footer-bg-color: #63dab8;
        --important-text-color: #2962ff;
        --btn-color: #89ceff;
        --link-color: #000000;
        --unimportant-text-color: #888888;
    }

    --footer-first-stop: 0%;
    --footer-second-stop: 80%;
    --footer-third-stop: 100%;
}
