:root {

    @media (prefers-color-scheme: dark) {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --header-text-color: #bb86fc;
        --footer-bg-color: #001e35;
        --important-text-color: #c81717;
        --btn-color: #1611a1;
    }

    @media (prefers-color-scheme: light) {
        --bg-color: #d3d3d3;
        --text-color: #000000;
        --header-text-color: #5303c3;
        --footer-bg-color: #74ffd8;
        --important-text-color: #2962ff;
        --btn-color: #89ceff;
    }
}
